/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 500px;
    text-align: justify;
    color: rgb(7, 7, 7);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo2.jpg");
   
}
.titulo{

font-size: 50px;
text-align: center;
color: blue;
}

.titulom2{
    font-size: 50px;
    text-align: center;
    color: rgb(226, 59, 87);
}




.imagen1{
    height: 300px;
width: 600px;
background-image: url(circuitos-eléctricos.jpg);
background-repeat: no-repeat;
float: center;

}

height: 800px;
width: 400px
background-image: url("cir");
background-repeat: no-repeat;
float:left;


.titulo2{

font-size: 50px;
text-align: center;
color: rgb(226, 59, 87);
}

.titulo3{

font-size: 50px;
text-align: center;
color: brown;
}

.titulo4{

font-size: 50px;
text-align: center;
color: brown;
}

.titulo5{
 font-size: 50px;
text-align: center;
color: brown;
}

.imagenm1{
height: 100px;
width: 400px;
background-image: url(polinomiouno.png);
background-repeat: no-repeat;
float: center;
}

.imagenm2{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagen2.gif);
    background-repeat: no-repeat;
    float: center;
    }

.imagenm3{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagen3.gif);
    background-repeat: no-repeat;
    float: center;
    }

.imagenm4{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagen4.jpg);
    background-repeat: no-repeat;
    float: center;
    }

.imagenm5{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagen6.jpg);
    background-repeat: no-repeat;
    float: center;
    }

.imagenm6{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagen8.jpg);
    background-repeat: no-repeat;
    float: center;
    }

.imagenm7{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagen9.jpg);
    background-repeat: no-repeat;
    float: center;
    }

    .titulo6{
        font-size: 50px;
       text-align: center;
       color: brown;
    }


.tituloq1{
    font-size: 50px;
   text-align: center;
   color: brown;
}

.tituloq2{
    font-size: 50px;
   text-align: center;
   color: brown;
}

.tituloq3{
    font-size: 50px;
   text-align: center;
   color: brown;
}

.imagenq1{
    height: 300px; ;
    width: 600px;
    background-image: url(imagenq1.png);
    background-repeat: no-repeat;
    float: center;
    }

.imagenq2{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagenq2.png);
    background-repeat: no-repeat;
    float: center;
    }
.imagenq3{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagenq3.png);
    background-repeat: no-repeat;
    float: center;
    }

.titulos1{

    font-size: 50px;
    text-align: center;
    color: brown;


}

.imagens1{height: 300px; ;
    width: 600px;
    background-image: url(imagens1.png);
    background-repeat: no-repeat;
    float: center;}

    .imagens2{
        height: 300px; ;
    width: 600px;
    background-image: url(imagens2.png);
    background-repeat: no-repeat;
    float: center;
    }

.imagens3{
    height: 300px; ;
    width: 600px;
    background-image: url(Imagens3.jpg);
    background-repeat: no-repeat;
    float: center;
}


.titulos2{

    font-size: 50px;
    text-align: center;
    color: brown;

}

.imagenso4{
    height: 500px; ;
    width: 1000px;
    background-image: url(colonias.png) ;
    background-repeat: no-repeat;
    float: center;
}

.nombre1{

    font-size: 50px;
    text-align: center;
    color: black;
}

.nombre2{
    font-size: 50px;
    text-align: center;
    color: black;


}

.titulob1{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);


}

.imgb1{
    height: 600px; ;
    width: 600px;
    background-image: url(cclb1.jpg) ;
    background-repeat: no-repeat;
    float: center;
}


.titulob2{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);

}

.imgb2{
    height: 400px; ;
    width: 500px;
    background-image: url(cclb2.png) ;
    background-repeat: no-repeat;
    float: center;
}
.titulob3{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);
}

.subtitulob1{
    font-size: 50px;
    text-align: left;
    color: rgb(112, 6, 6);
}

.imgb3{
    height: 200px; ;
    width: 700px;
    background-image: url(cclb3.png) ;
    background-repeat: no-repeat;
    float: center;
}


.titulob4{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);
}

.subtitulob2{
    font-size: 50px;
    text-align: left;
    color: rgb(112, 6, 6);
}

.imgb4{
    height: 600px; ;
    width: 600px;
    background-image: url(cclb4.png) ;
    background-repeat: no-repeat;
    float: center;
}

.titulob5{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);
}

.imgb5{
    height: 800px; ;
    width: 800px;
    background-image: url(cclb5.jpg) ;
    background-repeat: no-repeat;
    float: center;
}

.imgb6{
    height: 300px; ;
    width: 700px;
    background-image: url(cclb6.png) ;
    background-repeat: no-repeat;
    float: center;  
}


.maria{
    height: 1400px; ;
    width: 1400px;
    background-image: url(maria.jpg) ;
    background-repeat: no-repeat;
    float: center;  
}

.juan{
    height: 1400px; ;
    width: 1400px;
    background-image: url(juan\ jose.jpg) ;
    background-repeat: no-repeat;
    float: center;  
}
.imgt3{
    height: 500px; ;
    width: 600px;
    background-image: url("funciones\ en\ excel.jpg") ;
    background-repeat: no-repeat;
    float: center;  
}

.imgi{

    height: 1400px; ;
    width: 1400px;
    background-image: url("quimica.123.jpg");
    background-repeat: no-repeat;
    float: center;


}

.paz{
    height: 1400px; ;
    width: 1400px;
    background-image: url(paz.jpg) ;
    background-repeat: no-repeat;
    float: center;  
}

.imgi2{
    height: 1400px; ;
    width: 1400px;
    background-image: url("biologia.webp");
    background-repeat: no-repeat;
    float: center;
}

.imgi3{
    height: 1400px; ;
    width: 1400px;
    background-image: url("sociales.webp");
    background-repeat: no-repeat;
    float: center; 
}

.imgi4{
    height: 1400px; ;
    width: 1400px;
    background-image: url("matematicas.jpg");
    background-repeat: no-repeat;
    float: center;
}

.imgi5{
    height: 1400px; ;
    width: 1400px;
    background-image: url("tecnologia.jpg");
    background-repeat: no-repeat;
    float: center;
}


.titulot1{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);
}

.imagenm8{
    height: 600px; ;
    width: 800px;
    background-image: url(imm3.jpg);
    background-repeat: no-repeat;
    float: center;   
}

.imagenm9{
    height: 400px; ;
    width: 600px;
    background-image: url(imm31.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm10{
    height: 400px; ;
    width: 600px;
    background-image: url(imm32.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm11{
    height: 300px; ;
    width: 600px;
    background-image: url(imm33.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm12{
    height: 300px; ;
    width: 600px;
    background-image: url(imm34.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm13{
    height: 300px; ;
    width: 600px;
    background-image: url(imm35.png);
    background-repeat: no-repeat;
    float: center;
}

.imagenm14{
    height: 300px; ;
    width: 600px;
    background-image: url(imm36.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm15{
    height: 300px; ;
    width: 600px;
    background-image: url(imm37.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm16{
    height: 300px; ;
    width: 700px;
    background-image: url(imm38.png);
    background-repeat: no-repeat;
    float: center;
}

.imagenm17{
    height: 400px; ;
    width: 600px;
    background-image: url(imm39.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm18{
    height: 400px; ;
    width: 800px;
    background-image: url(imm310.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm19{
    height: 600px; ;
    width: 600px;
    background-image: url(imm311.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm20{
    height: 700px; ;
    width: 800px;
    background-image: url(imm312.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm21{
    height: 600px; ;
    width: 1200px;
    background-image: url(imm313.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm22{
    height: 600px; ;
    width: 700;
    background-image: url(imm314.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm23{
    height: 600px; ;
    width: 700;
    background-image: url(imm315.jpg);
    background-repeat: no-repeat;
    float: center;
}
.imagenm24{
    height: 600px; ;
    width: 700;
    background-image: url(imm16.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm25{
    
        height: 600px; ;
        width: 700;
        background-image: url(imm317.jpg);
        background-repeat: no-repeat;
        float: center; 
}

.imagenm26{
    
        height: 400px; ;
        width: 400;
        background-image: url(imm318.jpg);
        background-repeat: no-repeat;
        float: center;
}

.imagenm27{
    
        height: 400px; ;
        width: 400;
        background-image: url(imm319.jpg);
        background-repeat: no-repeat;
        float: center;
}

.imagenm28{
    height: 400px; ;
    width: 400;
    background-image: url(imm323.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenm29{
    height: 400px; ;
    width: 400;
    background-image: url(imm324.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio1{
    height: 900px; ;
    width: 900;
    background-image: url(imb31.jpg);
    background-repeat: no-repeat;
    float: center; 
}

.titulob31{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);
}

.subtb31{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);
}

.subtb32{
    font-size: 50px;
    text-align: center;
    color:rgb(211, 20, 20);
}

.subtb33{
    font-size: 50px;
    text-align: center;
    color:rgb(211, 20, 20);
}

.imagenbio2{
    height: 1100px; ;
    width: 1600px;
    background-image: url(imb32.png);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio3{
    height: 1200px; ;
    width: 2400px;
    background-image: url(imb33.png);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio4{
    height: 1200px; ;
    width: 2400px;
    background-image: url(imb34.png);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio5{
    height: 1200px; ;
    width: 2400px;
    background-image: url(imb35.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio6{
    height: 600px; ;
    width: 700px;
    background-image: url(imb36.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio7{
    height: 600px; ;
    width: 600px;
    background-image: url(imb37.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio8{
    height: 800px; ;
    width: 1200px;
    background-image: url(imb38.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio9{
    height: 1000px; ;
    width: 2400px;
    background-image: url(imb39.png);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio10{
    height: 400px; ;
    width: 400px;
    background-image: url(imb40.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio11{
    height: 600px; ;
    width: 600px;
    background-image: url(imb41.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imagenbio12{
    height: 600px; ;
    width: 600px;
    background-image: url(imb42.jpg);
    background-repeat: no-repeat;
    float: center;
}

.subtm1{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);
}

.subtm2{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);
}

.subtm3{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20); 
}

.subtm4{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);   
}

.subtm5{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);   
}

.titulot3{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6);
}

.subtm6{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm7{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.titulot4{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6); 
}

.subtm8{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm9{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm10{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm11{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm12{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm13{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm14{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtm15{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtb34{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtb35{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20);  
}

.subtb36{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20); 
}

.subtb37{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20); 
}

.tituloq31{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6); 
}

.tituloq32{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6); 
}

.tituloq33{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6); 
}

.subtq1{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20); 
}

.subtq2{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20); 
}

.subtq3{
    font-size: 50px;
    text-align: center;
    color: rgb(211, 20, 20); 
}

.imgq1{
    height: 400px; ;
    width: 600px;
    background-image: url(imgq1.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imgq2{
    height: 400px; ;
    width: 600px;
    background-image: url(imgq2.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imgq3{
    height: 400px; ;
    width: 600px;
    background-image: url(imgq3.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imgq4{
    height: 400px; ;
    width: 600px;
    background-image: url(imgq4.jpg);
    background-repeat: no-repeat;
    float: center;
}

.imags1{
    height: 4000px; ;
    width: 4000px;
    background-image: url(imgs1.jpg);
    background-repeat: no-repeat;
    float: center;
}

.titulos31{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6); 
}

.ttlq{
    font-size: 50px;
    text-align: center;
    color: rgb(112, 6, 6); 
}

.mapa{
    height: 1600px; ;
    width: 1600px;
    background-image: url(imagqui1.png);
    background-repeat: no-repeat;
    float: center;
}

































































































































