.contenedor{

    width: 100%;
height: 1200px;
background-color: brown;
display: flex;
flex-direction: column;

}

.encabezado{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}
.sociales{
    width: 100%;
    height: 500px;
    background-color: rgb(44, 31, 158);

}
.matematicas{
    width: 100%;
    height: 500px;
    background-color: rgb(209, 86, 162)

}
.quimica{
    width: 100%;
    height: 500px;
    background-color: rgb(243, 99, 15);
}
.biologia{
    width: 100%;
    height: 500px;
    background-color: rgb(39, 105, 42);
    
}
.tecnologia{
    width: 100%;
    height: 500px;
    background-color: rgb(193, 226, 47);
}



